@import './partials/site_common';
@import './partials/fonts';

* {
    padding: 0px;
    margin: 0px;
    font-family: $site_font_family, $site_optional_font_family;
    outline: 0 !important;
    outline-offset: 0 !important;
    outline-width: 0 !important;
    outline-style: none !important;
}

body {
    background-color: #f4f4f4;
}

/* ---- Common ---- */

.site-outer-pad {
    padding-left: $site_mobile_lr_padding;
    padding-right: $site_mobile_lr_padding;
}

.site-container {
    max-width: $site_container_width;
    margin: 0px auto;
}

.wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
    margin: 50px 0px;
}

@media (max-width: 767px) {
    .wrapper {
        padding: 30px $site_mobile_lr_padding;
        margin: 20px 0px;
    }
}

/* ---- Common ---- */

.main__header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.filter-head-title {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-size: 70px;
    font-family: "Nimbus Sans L";
    color: #000000;
    font-weight: bold;
    & .light-text {
        color: #e0e0e0;
    }
}

.foursq-cnt {
    margin-left: auto;
}

.four-squres {
    display: flex;
    flex-wrap: wrap;
    width: 17px;
    gap: 1px;
    & .squre {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #000000;
    }
}

@media (max-width: 767px) {
    .main__header {
        margin-bottom: 30px;
    }
    .filter-head-title {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    .filter-head-title {
        font-size: 30px;
    }
}

/* ---- Filters ---- */

.filter__mobbtn {
    display: inline-block;
    text-decoration: none !important;
    background-color: #ebebeb;
    color: #363636;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    margin: 0px;
    padding: 8px 20px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    &:hover, &:active {
        background-color: #c7c7c7;
        color: #363636;
    }
    & .svg-icon {
        display: none;
    }
    &.icon-true {
        & .str {
            display: inline-block;
            vertical-align: middle;
        }
        & .svg-icon {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
        }
    }
}

.filter__mobbtn-cnt {
    & .filter__mobbtn {
        display: none;
    }
}

.filters__row {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 30px;
}

.filters__chkcnt {
    width: calc(60% - 15px);
}

.filters__srchcnt {
    width: calc(40% - 15px);
}

.filters__ittlcnt {
    padding-bottom: 10px;
}

.filters__ittl {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    color: #000000;
    font-weight: 800;
    font-size: 24px;
}

.filters__chkotr {
    display: flex;
    flex-wrap: wrap;
}

.filters__chkitem {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    &:last-child {
        padding-right: 0px;
    }
}

.filters__chkmcnt {
    position: relative;
}

.filters__chkbox {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
}

.filters__chkbox-lable {
    cursor: pointer;
}

.chk-sqbox {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-right: 2px;
    position: relative;
    border-radius: 2px;
    transition: all ease-in-out 0.3s;
}

.tickmark {
    position: absolute;
    left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border-bottom: 1px solid #b6b6b6;
    border-right: 1px solid #b6b6b6;
    transform: rotate(45deg);
    transition: all ease-in-out 0.3s;
}

.chkbox-str {
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
}

.filters__srchinp-cnt {
    padding: 5px 0px;
}

.filters__chkbox {
    &:checked + .filters__chkbox-lable {
        & .chk-sqbox {
            background-color: #000000;
        }
        & .tickmark {
            border-bottom-color: #ffffff;
            border-right-color: #ffffff;
        }
    }
}

.filters__srchinp {
    display: block;
    width: calc(100% - 20px);
    padding: 5px 20px 5px 0px;
    border: 0px;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
    color: #000000;
    border-bottom: 2px solid #000000;
}

@media (max-width: 767px) {
    .filter__mobbtn-cnt {
        & .filter__mobbtn {
            display: inline-block;
        }
    }      
    .filters__row {
        flex-direction: column;
        gap: 30px 0px;
        position: absolute;
        width: calc(100% - 40px);
        left: 0px;
        padding: 20px;
        background-color: #ffffff;
        transform: scaleY(0);
        transform-origin: top;
        transition: all ease-in-out 0.3s;
        &.active {
            transform: scaleY(1);
        }
    }
    .filters__chkcnt {
        width: 100%;
    }
    .filters__srchcnt {
        width: 100%;
    }
}

/* ---- Data Table ---- */

.data__table-otr {
    padding: 40px 0px;
}

.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

.data__table {
    width: 100%;
    border: 0px;
    & thead tr {
        background-color: #e7e7e7;
    }
    & th, & td {
        text-align: left;
        padding: 20px 15px;
        border: 0px;
    }
    & tbody tr {
        &:nth-child(odd) {
            background: #f4f4f4;
        }
    }
    & thead tr th {
        font-size: 16px;
        font-weight: 800;
        color: #000000;
    }
    & tbody tr td {
        font-size: 16px;
        font-weight: 600;
        color: #000000;
    }
}

/* ---- Filters ---- */

.data__navigation-otr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px 20px;
}

.result-text {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.data__navigation-button {
    display: inline-block;
    text-decoration: none !important;
    background-color: transparent;
    color: #000000;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    & .svg-icon {
        display: inline-block;
        width: 50px;
        height: 30px;
    }
    & .shape-fill {
        fill: #000000;
    }
    &:hover, &:active {
        background-color: transparent;
        color: #000000;
    }
    &.disabled, &[disabled] {
        pointer-events: none;
        background-color: transparent;
        color: #000000;
        & .shape-fill {
            fill: #969696;
        }
    }
}
