
$site_font_family: 'Open Sans';
$site_optional_font_family: 'Arial', -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$site_container_width: 1200px;

$site_mobile_lr_padding: 20px;